section#rulesSearch.active {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
}

section#rulesSearch-popout {
    width: 650px;
}

.GurpsRulesLookupSearch {
    color: var(--color-text-primary);
    margin: 0.5em;
}

.GurpsRulesLookupTitle {
    color: var(--color-text-primary);
    font-weight: bold;
}

.GurpsRulesLookupResults {
    color: var(--color-text-primary);
    overflow-y: scroll;
    height: 0%;
    min-height: 100%;
}

.GurpsRulesLookupResult{
    display: grid;
    grid-template-areas:
        "rule rule"
        "book link";
    margin: 0.5em 0.5em 0em;
    grid-template-columns: 1fr 4em;
    padding-bottom: 0.5em;
    border-bottom: 1px darkgray solid;
}

.GurpsRulesLookupRule{
    grid-area: rule;
    font-weight: bold;
}

.GurpsRulesLookupBook{
    grid-area: book;
    font-style: italic;
}

.GurpsRulesLookupLink{
    grid-area: link;
} 

.GurpsRulesLookupNoResults {
    padding: 0.5em 0.5em 0.5em;
}

.theme-dark.RulesLookupSidebar {
    --gga-color-pdflink: lightblue;
}